.font-tap-to-start {
    font-size: 48px;
}

body:hover {
    cursor: pointer;
}

/* Tablet Styles */
@media only screen and ((max-width: 1000px) or (max-height: 800px)) {
    .font-tap-to-start {
        font-size: 36px;
    }
}

/* Mobile Styles */
@media only screen and ((max-width: 600px) or (max-height: 700px)) {
    .font-tap-to-start {
        font-size: 24px;
    }
}
